<h1>Add a new item</h1>

<form action="/items" method="post">
  <label for="new-description">Item description:</label>
  <input id="new-description" name="new-description" type="text" required="true">

  <label for="new-duedate">Item Due Date:</label>
  <input id="new-duedate" name="new-duedate" type="date" required="true">
  <button type="submit">Submit</button>
</form>

<p><a href="/">Back home</a></p>
<p><a href="/items">View all items.</a></p>
