<h1>To Do List</h1>

<form action="/items/duedatesort" method="post">
  <button type="submit" name="button">Sort By Due Date</button>
</form>

<form action="/items/idsort" method="post">
  <button type="submit" name="button">Sort By Date Created</button>
</form>

<h1>To Do List</h1>
<hr />
<h2>Items:</h2>
@if (Model.Count != 0)
{
  <ul>
  @foreach(var item in Model)
  {
    <li>Task: <a href='/items/@item.GetId()'> @item.GetDescription()</a>  Due date: @item.GetDueDate().ToShortDateString() Completed @item.GetComplete()| <a href="/items/@item.GetId()/update">Edit</a> | <a href="/items/@item.GetId()/delete">Delete</a></li>
  }
  </ul>
}

<p><a href="/items/new">Add another item.</a></p>
<p><a href="/">Return Home</a></p>

<form action="/items/delete" method="post">
  <button type="submit" name="button">Clear All Items</button>
</form>
