<h1>To Do List</h1>

<form action="/items/duedatesort" method="post">
  <button type="submit" name="button">Sort By Due Date</button>
</form>

<form action="/items/idsort" method="post">
  <button type="submit" name="button">Sort By Date Created</button>
</form>

<ul>
@foreach(var item in Model)
{
  <li>Task: @item.GetDescription() Category: @item.GetCategoryId() Due date: @item.GetDueDate().ToShortDateString() | <a href="/items/@item.GetId()/update">Edit</a></li>
  }
</ul>
<p><a href="/items/new">Add another item.</a></p>
<p><a href="/categories/new">Add another category.</a></p>
<p><a href="/categories">Go to categories list.</a></p>

<form action="/items/delete" method="post">
  <button type="submit" name="button">Clear All Items</button>
</form>
