<h1>To Do List</h1>

<ul>
@foreach(var category in Model)
{
  <li>@category.GetName() | <a href="/categories/@category.GetId()/view">View all tasks in this category</a> | <a href="/categories/@category.GetId()/update">Edit category</a></li>
  }
</ul>
<p><a href="/categories/new">Add another category.</a></p>
<p><a href="/items">Go to main page.</a></p>

<form action="/categories/delete" method="post">
  <button type="submit" name="button">Clear All Categories</button>
</form>
