<h1>To Do List</h1>

@* <form action="/items/duedatesort" method="post">
  <button type="submit" name="button">Sort By Due Date</button>
</form>

<form action="/items/idsort" method="post">
  <button type="submit" name="button">Sort By Date Created</button>
</form> *@

<ul>
@foreach(var category in Model)
{
  <li>@category.GetName()</li>
  }
</ul>
<p><a href="/categories/new">Add another category.</a></p>
<p><a href="/items">Go to main page.</a></p>

<form action="/categories/delete" method="post">
  <button type="submit" name="button">Clear All Categories</button>
</form>
